.movie-card {
  position: relative;
  cursor: pointer;
  width: 140px;
  height: 250px;
  margin: 0.5rem;
  background-image: url(../../../public/placeholder.png);
  background-position: center;
}
.movie-poster {
  width: 100%;
  height: 100%;
}
.details-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 1;
  padding-left: 0.5rem;
}

.movie-name {
  font-weight: bold;
  padding: 0.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-rating {
  font-size: 0.75rem;
  padding: 0.25rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
